#photo {
        padding-top: 40%;
        padding-bottom: 30%;
        background-image: url("../img/profile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        color: #e6e6e6;
  }
    .navbar {
        background-color: whitesmoke;
    }

    .margin {
        margin-bottom: 45px;
        margin-top: 45px;
    }
    #contact {
        background-color: #ffad33;
        padding-bottom: 5%;
    }
    #about {
        background-color: #85adad;
        padding-bottom: 5%;
    }
    #projects {
        padding-bottom: 5%;
        background-color: #e6e6e6;
    }

    footer {
        margin-top: 45px;
        height: 90px;
        padding-top: 45px;
        background-color: whitesmoke;
    }