body {
    font-family: sans-serif;
}
#photo {
        padding-top: 40%;
        padding-bottom: 30%;
        background-image: url("../img/profile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        color: #e6e6e6
      }
    .margin {
        margin-bottom: 45px;
        margin-top: 45px;
    }
    #about {
        background-color: #f2f2f2;
        padding-bottom: 5%;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #projects {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #e6e6e6;
    }
    #contact {
        background-color: #d9d9d9;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    footer {
        padding: 1.3%;
        background-color: black;
        color: #666666;
    }
    #separator {
        background-color: #cccccc;
        height: 1px;
        width: 100%;
    }
    #description {
        padding: 5%;
    }
a {
    color: #009900;
}
a:hover {
    color: #00cc00;
}